.vscode / *
! .vscode / settings.json
! .vscode / tasks.json
! .vscode / launch.json
! .vscode / extensions.json
! .vscode / * .code-nippets

# Локальна історія для Visual Studio Code
.history /

# Вбудовані розширення коду Visual Studio
* .vsix
